[Unit]
Description=Notification daemon for MPD
After=mpd.service

[Service]
ExecStart=/home/dophin2009/.local/bin/mpdnotify monitor

[Install]
WantedBy=default.target
