[Unit]
Description=Notification daemon for MPD
After=mpd.service

[Service]
ExecStart=/usr/local/bin/mpdnotify monitor

[Install]
WantedBy=default.target
