**/.vim/

**/*.bak

files/

.*
.*/

# home directory dotfiles
!.bash_profile
!.bashrc
!.gitignore
!.gitmodules
!.pam_environment
!.urlview
!.zprofile
!.zshrc

# local
!.local/
.local/*

!.local/bin/fscreenshot
!.local/bin/launch-polybar
!.local/bin/lock-screen
!.local/bin/monitor-battery
!.local/bin/notify-battery
!.local/bin/set-brightness
!.local/bin/wallpaper-ctl

!.local/share/themes/

# config
!.config/
.config/*

!.config/alacritty/
!.config/bat/
!.config/beets/
!.config/cursedtag/
!.config/dotprofile/
!.config/dunst/
!.config/elinks/
!.config/git/
!.config/goto/
!.config/gtk-3.0/
!.config/hangups/
!.config/i3/
!.config/maven/
!.config/micro/
!.config/mpd/
!.config/mpdnotify/
!.config/mpv/
!.config/mutt/
!.config/ncmpcpp/
!.config/neofetch/
!.config/networkmanager-dmenu/
!.config/newsboat/
!.config/notmuch/
!.config/npm/
!.config/nu/
!.config/nvim/
!.config/picom/
!.config/polybar/
!.config/qutebrowser/
!.config/R/
!.config/ranger/
!.config/rofi/
!.config/rtv/
!.config/sh/
!.config/systemd/
!.config/task/
!.config/termite/
!.config/texlive/
!.config/tmux/
!.config/X11/
!.config/yadm/
!.config/zathura/
!.config/zsh/

!.config/user-dirs.dirs
