[submodule "packages/tmux/tree/.local/share/tmux/plugins/tpm"]
	path = packages/tmux/tree/.local/share/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "packages/gtk/themes/gruvbox-gtk"]
	path = packages/gtk/themes/gruvbox-gtk
	url = https://github.com/3ximus/gruvbox-gtk
[submodule "packages/gtk/themes/nordic"]
	path = packages/gtk/themes/nordic
	url = https://github.com/EliverLara/Nordic
[submodule "packages/qutebrowser/tree/.config/qutebrowser/jmatrix"]
	path = packages/qutebrowser/tree/.config/qutebrowser/jmatrix
	url = https://github.com/Dophin2009/jmatrix
	branch = qutebrowserv2-patch
