[options]
#allow_bold = true
#audible_bell = false
#bold_is_bright = true
#cell_height_scale = 1.0
#cell_width_scale = 1.0
clickable_url = true
dynamic_title = true
font = {{ .font }} 9
fullscreen = false
icon_name = terminal
mouse_autohide = false
scroll_on_output = true
scroll_on_keystroke = true
scrollback_lines = 10000
#search_wrap = true
urgent_on_bell = true
hyperlinks = true

# $BROWSER is used by default if set, with xdg-open as a fallback
# browser = xdg-open

# "system", "on" or "off"
cursor_blink = on

# "block", "underline" or "ibeam"
cursor_shape = block

# Hide links that are no longer valid in url select overlay mode
# filter_unmatched_urls = true

# Emit escape sequences for extra modified keys
# modify_other_keys = false

# set size hints for the window
# size_hints = false

# "off", "left" or "right"
scrollbar = off

[colors]
background = {{ .colors.primary.background }}
foreground = {{ .colors.primary.foreground }}
foreground_bold = {{ .colors.primary.foreground }}

color0 =  {{ .colors.normal.black }}
color1 =  {{ .colors.normal.red }}
color2 =  {{ .colors.normal.green }}
color3 =  {{ .colors.normal.yellow }}
color4 =  {{ .colors.normal.blue }}
color5 =  {{ .colors.normal.magenta }}
color6 =  {{ .colors.normal.cyan }}
color7 =  {{ .colors.normal.white }}
color8 =  {{ .colors.bright.black }}
color9 =  {{ .colors.bright.red }}
color10 = {{ .colors.bright.green }}
color11 = {{ .colors.bright.yellow }}
color12 = {{ .colors.bright.blue }}
color13 = {{ .colors.bright.magenta }}
color14 = {{ .colors.bright.cyan }}
color15 = {{ .colors.bright.white }}

# vim: ft=dosini
